<%= form_with(model: todo, local: true) do |form| %>
  <% if todo.errors.any? %>
    <div class="p-4 my-4 bg-red-100 text-red-700 border border-red-700 rounded">
      <h2><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
        <% todo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-4">
    <%= form.label :description, class: "text-lg" %>
    <%= form.text_field :description, data: { reflex: "change->ExampleReflex#form" }, class: "h-8 my-2 form-input w-full block" %>
  </div>

  <%= form.submit class: "btn mr-2" %>
<% end %>
