<h1 class="text-5xl">Todos</h1>

<%= render "todos/form", todo: @todo %>

<div>
  <% @todos.each do |todo| %>
    <div class="flex my-4 p-4 w-full border border-gray-200 rounded shadow-md">
      <%= check_box_tag "completed", "#", !todo.completed_at.nil?, data: { reflex: "click->ExampleReflex#toggle", id: todo.id}, class: "form-checkbox ml-6 mr-10 mt-6 h-8 w-8 bg-gray-100 hover:cursor-pointer" %>  
      <div>
  	    <%= link_to todo, class: "hover:underline hover:cursor-pointer" do %>	    	
  	      <%= content_tag :p, todo.description, class: "text-xl" %>
  	    <% end %>
        <div class="my-4">
          <h2 class="text-gray-500">Completed at:</h2>
          <% unless todo.completed_at.nil? %>
            <%= content_tag :p, todo.completed_at, class: "text-gray-500" %>
          <% else %>
            <p class="text-gray-500">Not yet completed</p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br>
